- name: "Ensure 'cupsd' service is started, and enable it to start at boot"
  ansible.builtin.service:
    name: cupsd
    state: started
    enabled: true
  become: true
  become_user: root
  notify:
    - restart_automatic_printing_services
    - "{{ cfg_autoprint_notify_avahi_handler_on_change }}"

- name: "Configure '{{ cfg_autoprint_freebsd_cups_settings_path }}' to abort jobs on printer error"
  ansible.builtin.lineinfile:
    path: "{{ cfg_autoprint_freebsd_cups_settings_path }}"
    regexp: >-
      ^ErrorPolicy
    line: >-
      ErrorPolicy abort-job
    state: present
    create: false
  become: true
  become_user: root
  notify:
    - restart_automatic_printing_services
    - "{{ cfg_autoprint_notify_avahi_handler_on_change }}"

