- name: "Install the 'cups' print-client package"
  ansible.builtin.package:
    name: cups
    state: present
  become: true
  become_user: root
  notify:
    - restart_automatic_printing_services
    - "{{ cfg_autoprint_notify_avahi_handler_on_change }}"

- name: "Install the 'cups-pdf' print-to-pdf-support package"
  ansible.builtin.package:
    name: cups-pdf
    state: present
    # NOTE: cannot currently mark asdeps, since cups-pdf not tagged as opt pkg
    # extra_args: "--asdeps"
  become: true
  become_user: root
  when: cfg_autoprint_enable_print_to_pdf
  notify:
    - restart_automatic_printing_services
    - "{{ cfg_autoprint_notify_avahi_handler_on_change }}"

