- name: "Install the 'cups' print server/client package"
  ansible.builtin.package:
    name: cups
    state: present
  become: true
  become_user: root
  notify:
    - restart_automatic_printing_services
    - "{{ cfg_autoprint_notify_avahi_handler_on_change }}"

- name: "Install the 'cups-filters' filters and misc-internals package"
  ansible.builtin.package:
    name: cups-filters
    state: present
  become: true
  become_user: root
  notify:
    - restart_automatic_printing_services
    - "{{ cfg_autoprint_notify_avahi_handler_on_change }}"

- name: "Install the 'cups-pdf' print-to-pdf-support package"
  ansible.builtin.package:
    name: cups-pdf
    state: present
  become: true
  become_user: root
  notify:
    - restart_automatic_printing_services
    - "{{ cfg_autoprint_notify_avahi_handler_on_change }}"
  when: cfg_autoprint_enable_print_to_pdf

